In [ ]:
#모듈 생성 및 불러오기

In [1]:
import greeting as gr

In [2]:
gr.say_hello('kevin')

안녕,'kevin'?

In [3]:
gr.say_goodbye('kevin')

또만나, kevin!

In [7]:
with open('class.txt','r',encoding='utf8') as f:
    txt = f.read()

In [10]:
txt

'초록반 5세 20명 파랑반 6세 18명 노랑반 7세 22명'

In [14]:
words = txt.split()

In [26]:
for word in words:
    print(word,end=' ')
    if word.endswith('명'):
        print()
        print('*'*20)
        print(word)

초록반 5세 20명
********************
20명
파랑반 6세 18명
********************
18명
노랑반 7세 22명
********************
22명

In [36]:
for word in words:
    print(word,sep='반')

초록반
5세
20명
파랑반
6세
18명
노랑반
7세
22명

# 문자열 재정렬
### 알파벳 대문자와 숫자(0~9)로만 구성된 문자열이 입력으로 주어집니다.이떄 모든 아파벳을 오름차순으로 정렬하여 이어서 출력한 뒤에, 그 뒤에 모든 숫자를 더한 값을 이어서 출력합니다.
### 예를 들어 K1KA5CB7이라는 값이 들어오면 ABCKK13을 출력합니다

In [37]:
input_data = input()

 K1KA5CB7

In [38]:
input_data

'K1KA5CB7'

In [52]:
import re

In [57]:
words = re.compile('[^0-9]*')

In [58]:
str_word=words.match(input_data)

In [59]:
str_word

In [56]:
words.search(input_data)

In [64]:
result=[]
value = 0

In [65]:
for i in input_data:
    if i.isalpha():# 알파벳만 찾아냄
        result.append(i)
    else:
        value += int(i)

In [66]:
print(result,value)

['K', 'K', 'A', 'C', 'B'] 13

In [67]:
if value != 0:
    result.append(str(value))

In [68]:
result

['K', 'K', 'A', 'C', 'B', '13']

In [69]:
print(''.join(result))

KKACB13

In [80]:
result2=[]
value2=0
for i in input_data:
    if i.isnumeric():
        value2 += int(i)
    else:
        result2.append(i)
if value2 != 0:
    result2.append(value2)
print(result2)

['K', 'K', 'A', 'C', 'B', 13]