# 그리디 알고리즘
- 그리디 알고리즘(탐욕법)은 현재 상황에서 지금 당장 좋은 것만 고르는 방법을 의미합니다.
- 일반적인 그리디 알고리즘은 문제를 풀기 위란 최소한의 아이디어를 떠올릴 수 있늕 나열을 요구합니다.
- 그리디 해법은 그 정당성 분석이 중요합니다
- 단순히 가장 좋아 보이는 것을 반복적으로 선택해도 최적의 해를 구할 수 있느지 검토합니다.

## 거스름돈

In [26]:
print('나누기',5/2)
print('몫',5//2)
print('나머지',5%2)

나누기 2.5
몫 2
나머지 1

In [29]:
n = 1260
count = 0

In [30]:
array=[500,100,50,10]

In [31]:
for i in array:
    count += n//i
    print(f'사용한 {i} 동전 & 개수: ',count)
    print('*'*20)
    n %= i
    print('남은 돈: ',n)
    print('*'*20)
print(count,n)

사용한 500 동전 & 개수:  2
********************
남은 돈:  260
********************
사용한 100 동전 & 개수:  4
********************
남은 돈:  60
********************
사용한 50 동전 & 개수:  5
********************
남은 돈:  10
********************
사용한 10 동전 & 개수:  6
********************
남은 돈:  0
********************
6 0

In [27]:
a = 1250
for coin in array:
    #print(coin)
    a %= coin
    print(a)

250
50
0
0

## 큰 수의 법칙
- n은 배열의 크기
- m은 숫자가 더해지는 횟수
- k는 연속하는 수가 k번을 초과해서 더해질 수 없다.

In [44]:
n,m,k = map(int,input().split())

 5 8 3

In [36]:
data = list(map(int,input().split()))

 2 4 5 4 6

In [45]:
# 데이터 배열 정렬하기
data.sort()
print(data)

[2, 4, 4, 5, 6]

In [46]:
#가장 큰 수
first = data[n-1]
first

6

In [47]:
#두 번째로 큰 수
second = data[n-2]
second

5

In [59]:
n,m,k= 5,8,3
data = [2, 4, 4, 5, 6]
print(n,m,k)
result = 0
while True:
    for i in range(k): # k = 3 k와 같은 숫자 사용하지 마라
        if m == 0:# m번 가장 놆은 수를 k번 까지만 더하여라
            break # m이 0일 때 for문 탈출
            
        result += first # 결과값에 가장 큰 수를 m이 0이 될 때 까지 더하여라
        print('첫번째',m)
        m -= 1 # m을 하나씩 뺸다
        print('두번째',m)
    if m == 0:
        break
    result += second
    print('세번째',m)
    m -= 1
    print('네번째',m)
print(result)

5 8 3
첫번째 8
두번째 7
첫번째 7
두번째 6
첫번째 6
두번째 5
세번째 5
네번째 4
첫번째 4
두번째 3
첫번째 3
두번째 2
첫번째 2
두번째 1
세번째 1
네번째 0
46

## 숫자 카드 게임

In [106]:
n,m = map(int,input().split())

 3 3

In [115]:
data=[]
for i in range(n):
    data.append(list(map(int,input().split())))
    print(min(data))

  3 1 2

[3, 1, 2]

 4 1 4

[3, 1, 2]

  2 2 2

[2, 2, 2]

In [113]:
data

[[3, 1, 2], [4, 1, 4], [2, 2, 2]]

In [121]:
result = 0
for i in range(n):
    data = list(map(int,input().split()))
    min_value = min(data)
    print(min_value)
    result = max(result,min_value)
    print(result)
print(result)

 3 1 2

1
1

 2 2 2

2
2

 4 1 4

1
2
2

In [120]:
result = 0
for i in range(n):
    data = list(map(int,input().split()))
    min_value = 10001
    for j in data:
        min_value = min(min_value,j)
    result= max(result,min_value)
print(result)

 3 1 2
 4 1 4
 2 2 2

2

## 1이 될 때 까지

In [156]:
n, k = map(int,input().split())

 27 2

In [139]:
count = 0
while n>=k:
    while n % k != 0:
        n -= 1
        count += 1
    n //= k
    count += 1
while n>1:
    n -= 1
    count += 1
print(n,count)

1 2

In [163]:
result,n,k= 0,27,2
while True:
    target = (n//k) * k
    print('n // k',n // k)
    print('target',target)
    result += (n-target)
    print('result',result)
    n = target
    if n < k:
        break
    result += 1
    n //= k
    print('result',result)
    print('n',n)
    print('*'*20)
print(result)
print(n)
result += (n-1)
print(result)

n // k 13
target 26
result 1
result 2
n 13
********************
n // k 6
target 12
result 3
result 4
n 6
********************
n // k 3
target 6
result 4
result 5
n 3
********************
n // k 1
target 2
result 6
result 7
n 1
********************
n // k 0
target 0
result 8
8
0
7

-----------

# practice

# 거스름돈

In [101]:
array = [100,10,50,500]

In [102]:
new_array = sorted(array,reverse=True)

In [103]:
new_array

[500, 100, 50, 10]

In [104]:
total = 1940

In [87]:
result = 0
for coin in new_array:
    result += total//coin
    print(total)
    print(coin)
    print(result)
    print("-"*20)
    total %= coin
    print(total)
    print(coin)
    print(result)
    print("-"*30)
print(3,result)

1940
500
3
--------------------
440
500
3
------------------------------
440
100
7
--------------------
40
100
7
------------------------------
40
50
7
--------------------
40
50
7
------------------------------
40
10
11
--------------------
0
10
11
------------------------------
3 11

# 큰 수의 법칙

In [89]:
n,m,k = map(int,input().split())

 5 8 3

In [90]:
data = list(map(int,input().split(',')))

 2,4,6,5,6

In [91]:
data

[2, 4, 6, 5, 6]

In [95]:
new_data = sorted(data,reverse= True)
print(new_data)

[6, 6, 5, 4, 2]

In [96]:
first = new_data[0]
second = new_data[1]

In [97]:
print(first,second)

6 6

In [98]:
result = 0
while True:
    for i in range(k):
        if m == 0:
            break
        result += first
        m -= 1
    if m == 0:
        break
    result += second
    m -= 1
print(result)

48

In [99]:
while True:
    for i in range(k):
        if m == 0:
            break
        result += first
        m -= 1
    if m == 0:
        break
    result += second
    m -= 1
print(result)

48

In [105]:
count = 0
for coin in new_array:
    count += total//coin
    total %= coin
print(count)

11

# 숫자 카드 게임

In [123]:
n,m = map(int,input().split())

 2 4

In [125]:
result = 0
for i in range(n):
    data = list(map(int,input().split()))
    min_value = min(data)
    result = max(result,min_value)
print(result)

 7 3 1 8
 3 3 3 4

3

In [127]:
result = 0
for i in range(n):
    data = list(map(int,input().split()))
    min_value = 10001
    for j in data:
        min_value = min(j,min_value)
    result = max(min_value,result)
print(result)

 7 3 1 8
 3 3 3 4

3